* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #FFE0B5;
    text-align: center;
}
main {
    margin-top: 0rem;
}

h1 {
    background-color: #081b31;
    color: white;
    height: 4rem;
    line-height: 4rem;
    font-size: 2.5rem;
    padding: 0.5rem;
    cursor:default;
}

.msg-container {
    margin-top: 2rem;
}

#new-game {
    margin-top: 0rem;
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display:inline;
    padding: 1rem;
    border-radius: 1rem;
}

#new-game:hover {
    opacity: 0.9;
    cursor: pointer;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score, #comp-score {
    font-size: 4rem;
}

.use-num {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-num, #comp-num {
    font-size: 4rem;
}
.choice {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover {
    cursor: pointer;
    background-color: #081b31;
    color: white;
}
.choices {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.msg-container1 {
    margin-top: 2rem;
}
#msg {
    margin-top: 1rem;
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display:inline;
    padding: 1rem;
    border-radius: 1rem;
    cursor: default;
}